<div class="container">
  <form class="form" [formGroup]="changePassword">
    <h1>Change Password Here</h1>

    <mat-form-field>
      <mat-label>Enter your new password</mat-label>
      <input
        formControlName="newpass"
        matInput
        [type]="hide ? 'password' : 'text'"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>

      <mat-error *ngIf="changePassword.hasError('required', 'newpass')"
        >new Password is <strong>required</strong></mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter Confirm new password</mat-label>
      <input
        formControlName="connewpass"
        matInput
        [type]="hideconfirm ? 'password' : 'text'"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hideconfirm = !hideconfirm"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideconfirm"
      >
        <mat-icon>{{ hideconfirm ? "visibility_off" : "visibility" }}</mat-icon>
      </button>

      <mat-error *ngIf="changePassword.hasError('required', 'connewpass')"
        >Confirm new Password is <strong>required</strong></mat-error
      >
      <mat-error
        *ngIf="
          changePassword?.hasError('misMatch') &&
          changePassword.get('connewpass')?.touched
        "
      >
        password is <strong>misMatch</strong>
      </mat-error>
    </mat-form-field>

    <button
      [disabled]="changePassword.invalid"
      (click)="submitChangePassword()"
      mat-raised-button
      matTooltip="Fill all the fields"
      color="primary"
    >
      Change password
    </button>
  </form>
</div>
