.background {
  background-image: linear-gradient(45deg, black, white);
  height: 92vh;
}

.container {
  display: flex;
  justify-content: center;

  .form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 30rem;
    padding: 25px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 10px 10px 15px black;
  }
}
