<nav class="navbar">
  <div class="title">
    <img src="../../../assets/images/managerLogo.png" alt="" />
    <h1 routerLink="/manager">Manager Dashboard</h1>
  </div>
  <div class="links">
    <button class="btn" mat-button [matMenuTriggerFor]="taskMenu">
      Tasks <i class="ph ph-caret-down"></i>
    </button>

    <mat-menu #taskMenu>
      <button routerLink="/manager/task" class="btn" mat-menu-item>
        Create Task
      </button>

      <button routerLink="/manager/my-task" class="btn" mat-menu-item>
        My Task
      </button>
    </mat-menu>

    <button
      routerLink="/manager/team-members"
      class="btn"
      mat-button
      color="basic"
    >
      MyTeamMembers
    </button>
    <button mat-button color="black" [matMenuTriggerFor]="profile">
      <i class="ph ph-user"></i> {{ userName }}
      <i class="ph ph-caret-down"></i>
    </button>

    <mat-menu #profile>
      <button mat-menu-item routerLink="/change-password">
        Change Password
      </button>
      <button (click)="logout()" mat-menu-item>Logout</button>
    </mat-menu>
  </div>
</nav>
