<div class="container">
  <form class="form" [formGroup]="changePassword">
    <h1>Change Password Here</h1>
    <mat-form-field appearance="fill">
      <mat-label>Enter your email id</mat-label>
      <input
        formControlName="email"
        matInput
        placeholder="Ex. example@domain.com"
      />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="changePassword.hasError('required', 'email')"
        >Email is <strong>required</strong></mat-error
      >

      <mat-error *ngIf="changePassword.hasError('email', 'email')"
        >Email is <strong>Invalid</strong></mat-error
      >
    </mat-form-field>

    <button
      [disabled]="changePassword.invalid"
      (click)="submitChangePassword()"
      mat-raised-button
      matTooltip="Fill all the fields"
      color="primary"
    >
      send mail
    </button>
  </form>
</div>
