<nav class="navbar">
  <div class="title">
    <img src="../../../assets/images/employeeLogo.png" alt="" srcset="" />
    <h1 routerLink="/employee">Employee Dashboard</h1>
  </div>
  <div class="links">
    <button routerLink="/employee/my-task" class="btn" mat-button color="basic">
      My Tasks
    </button>
    <button
      routerLink="/employee/my-manager"
      class="btn"
      mat-button
      color="basic"
    >
      My Manager
    </button>

    <button mat-button [matMenuTriggerFor]="profile" color="white">
      <i class="ph ph-user"></i> {{ userName }} <i class="ph ph-caret-down"></i>
    </button>

    <mat-menu #profile>
      <button mat-menu-item routerLink="/change-password">
        Change Password
      </button>
      <button (click)="logout()" mat-menu-item>Logout</button>
    </mat-menu>
  </div>
</nav>
