.container {
  display: flex;
  justify-content: center;

  .fields {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    width: 25%;
    background-color: white;
    border: 1px solid black;
    padding: 40px;
    box-shadow: 5px 5px 15px black;
  }
}
