<span *ngIf="userRole === 'admin'">
  <app-admin-header />
</span>
<span *ngIf="userRole === 'manager'">
  <app-manager-header />
</span>
<span *ngIf="userRole === 'employee'">
  <app-employee-header />
</span>

<div class="container">
  <form [formGroup]="changePasswordForm" class="fields">
    <h1>Change Password</h1>
    <mat-form-field *ngIf="hide">
      <mat-label>Input</mat-label>
      <input formControlName="userId" [value]="userId" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your old password</mat-label>
      <input
        formControlName="oldPassword"
        matInput
        [type]="oldPasswordHide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="oldPasswordHide = !oldPasswordHide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="oldPasswordHide"
      >
        <mat-icon>{{
          oldPasswordHide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>

      <mat-error *ngIf="changePasswordForm.hasError('required', 'oldPassword')">
        Old password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your new password</mat-label>
      <input
        formControlName="newPassword"
        matInput
        [type]="newPasswordHide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="newPasswordHide = !newPasswordHide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="newPasswordHide"
      >
        <mat-icon>{{
          newPasswordHide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>

      <mat-error *ngIf="changePasswordForm.hasError('required', 'newPassword')">
        New password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm your new password</mat-label>

      <input
        formControlName="confirmNewPassword"
        matInput
        [type]="confirmNewPasswordHide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="confirmNewPasswordHide = !confirmNewPasswordHide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="confirmNewPasswordHide"
      >
        <mat-icon>{{
          confirmNewPasswordHide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error
        *ngIf="changePasswordForm.hasError('required', 'confirmNewPassword')"
      >
        Confirm New password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="changePassword()">
      Change password
    </button>
  </form>
</div>
